{% extends 'report.html' %}
{% block select %}
<!--<Pop over >-->
<!--<style>-->
<!--    input[type=file] {-->
<!--display: flex;-->
<!--}-->
<!--</style>-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/tooltips-js"></script>

<div id="Customer" class="tabcontent">
    <h2 style="font-family: &quot;Tahoma&quot;;letter-spacing: 0.1px;font-size: 18px;"><b>Customer Info</b></h2>
        <br>

        {% if message1 and message2 %}
        <p style="font-family: &quot;Tahoma&quot;;letter-spacing: 0.1px;font-size: 18px;">Your customer logo(swift22.png) is successfully uploaded</p>
        <p style="font-family: &quot;Tahoma&quot;;letter-spacing: 0.1px;font-size: 18px;">Your customer name is: swift doc </p>
        <br>
    <p>
    <a href="/cust_info"><button value="" class="btn btn-light">Back</button></a>
    <a href="/report" class="btn btn-success">
         Next
    </a>
</p>
    <p style="font-family: &quot;Tahoma&quot;;letter-spacing: 0.1px;font-size: 18px;">If you want to reset then please click on back button.</p>
    {% else %}
    <form action="" method="post" id="Cust_info" enctype="multipart/form-data">
        <div class="tooltip">Hover over me
  <span class="tooltiptext">Tooltip text</span>
</div>

        <div class="row">
            <div class="col-sm-7">
                <div class="form-group ">
                    <label> <b>Customer Name </b></label>
<!--                      <i  class="fa fa-info-circle " class="btn" data-toggle="popover"  data-content="Alphabetical Characters <=35 , Numeric & Special characters not allowed" style="font-size:20px;"></i>-->
                    <input placeholder=" Please enter customer name " title= "Alphabetical Characters <=35 , Numeric & Special characters not allowed" type="text" name="customername" maxlength="35" id="id_customername" class="form-control" required="" onchange="validate();" >
                </div>
            </div>
            <br>
            <div class="col-sm-7">
                <div class="form-group">
                    <label><b>Customer Logo</b></label>
<!--                     <i  class="fa fa-info-circle " class="btn" data-toggle="popover"  data-content="File type = (PNG,JPG), Size <=1MB, Dimensions <= 500 x 500 " style="font-size:20px;"></i>-->
                  <input  title= "File type = (PNG,JPG), Size <=1MB " type="file" name="file" id="image" class="form-control" onchange="return fileValidation()  " required="" style="font-family:&quot;Tahoma&quot;;letter-spacing: 0.1px;font-size:16px;">
                </div>
                <br>
                <div class="container" style="margin: 0px 0px 0px -15px;">
                    <a href="/tsf_info" class="btn btn-light">Back</a>
                    <button type="submit" class="btn btn-success" value="Submit" onsubmit="/report" >Next</button>
                </div>
            </div>
        </div>
    </form>
     {% endif %}
</div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
        function validate() {
        var regName = /^[^-\s][a-zA-Z\s-]+$/;
    var name = document.getElementById('id_customername').value;
    if(!regName.test(name)){
        // Swal.fire('Invalid Customer Name','','error');
        iziToast.show({
    title: 'Invalid Customer Name',
    progressBar: false,
    color: 'red',
    position: 'topCenter',
    pauseOnHover:false,
});
        id_customername.value = '';
        return false;
    }else{
        return true;
    }
    }

function fileValidation() {
//Get reference of FileUpload.
    var fileUpload = document.getElementById("image");
    //Check whether the file is valid Image.
    var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.png)$");
    if (regex.test(fileUpload.value.toLowerCase())) {

        //Check whether HTML5 is supported.
        if (typeof (fileUpload.files) != "undefined") {
            //Initiate the FileReader object.
            var reader = new FileReader();
            reader.readAsDataURL(fileUpload.files[0]);
            reader.onload = function (e) {
                //Initiate the JavaScript Image object.
                var image = new Image();
                //Set the Base64 string return from FileReader as source.
                image.src = e.target.result;
                //Validate the File Height and Width.
                image.onload = function () {
                    var height = this.height;
                    var width = this.width;
                    return true;
                };
            }
        } else {
            // Swal.fire('HTML5 error','','error');
            iziToast.show({
    title: 'HTML5 error',
                progressBar: false,
                color: 'red',
                position: 'center',
                pauseOnHover:false,
});
            return false;
        }
    } else {
        // Swal.fire('Please upload jpg or png file','','error');
        iziToast.show({
    message: 'Please upload jpg or png file',
                progressBar: false,
                color: 'red',
                position: 'topCenter',
                pauseOnHover:false,
});
        fileUpload.value='';
        return false;
    }
    if (fileUpload.files.length > 0) {
            for (const i = 0; i <= fileUpload.files.length - 1; i++) {

                var fsize = fileUpload.files.item(i).size;
                var file = Math.round((fsize / 1024));
                // The size of the file.
                if (file > 1024) {
                    // Swal.fire('Please upload image which is <= 1mb',"",'error');
                    iziToast.show({
    message: 'Please upload image which is <= 1mb',
                progressBar: false,
                color: 'red',
                position: 'center',
                pauseOnHover:false,
});
                    fileUpload.value='';
                }
            }
};
};
</script>

{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
     var messages = {{ messages | safe }};
     for (var i=0; i<messages.length; i++) {
        // Swal.fire(messages[i],'','error');
        iziToast.show({
     message: messages[i],
                progressBar: false,
                color: 'red',
                position: 'center',
                pauseOnHover:false,
});
}
</script>
{% endif %}
{% endwith %}
<script>
$(document).ready(function() {
    document.getElementById("step3").className = "tablinks active"
    });
</script>
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>
{% endblock %}