{% extends 'report.html' %}
{% block select %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
    .container {
padding-right: 15px;
padding-left: 0px;
margin-right: auto;
margin-left: auto;
}
</style>
<div id="Report" class="tabcontent">
    <h2 style="font-family: &quot;Source Sans Pro&quot;;letter-spacing: 0.1px;"><b>Generate Report</b>  </h2>
    <br>
    <form action="/report" method="post" id="form_gen">
        <div class="row">
            <div class="col-sm-7">
                <div class="form-group">
                    <label> <b> Report Name</b> </label>
<!--                     <i  class="fa fa-info-circle " class="btn" data-toggle="popover"  data-content="Alphabetical Characters <=35 , Numeric & Special characters except _  not allowed" style="font-size:20px;"></i>-->

                        <input title="Alphabetical Characters <=35 , Numeric & Special characters not allowed" placeholder="Enter Report Name" name="reportname" maxlength="35" id="id_reportname" class="form-control" required="" onchange="validate();" >
                </div>
            </div>

        </div>
 <br>
            <div class="container">
                <button type="button" id="back" value="" class="btn btn-light" style="visibility: visible;" onclick="history.go(-1)">Back</button>
                <button type="submit" class="btn btn-warning " style="font-size:18px; visibility: visible" id="gen">Generate</button>
            </div>

           <div class="container">
                <a href="/preview" id="preview" target="_blank" title="Preview the Generated Report" class="btn btn-success" style="visibility: hidden">
                    <i class="fa fa-eye"  style="font-size:18px;" ></i> Preview
                </a>
                <a href="/download" id="download" title="Download the Generated Report" class="btn btn-success" style="visibility: hidden">
                    <i class="fa fa-download"  style="font-size:18px;" ></i> Download
                </a>
               <a href="/select_template" id="exit" target="" title="exit" class="btn btn-light" style="visibility: hidden">
                    <i class="" style="font-size:18px;" ></i>Exit
                </a>
            </div>
            <br>

    </form>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function validate() {
        var regName = /^[^_-\s][a-zA-Z_\s-]+$/;
    var name = document.getElementById('id_reportname').value;
    if(!regName.test(name)){
        // Swal.fire('Invalid Report Name','Numbers,_,starting with space & _ , special characters is not allowed','error');
        iziToast.show({
    title: 'Invalid Report Name',
    message: 'Numbers,_,starting with space & _ , special characters is not allowed',
                progressBar: false,
                color: 'red',
                position: 'topCenter',
                pauseOnHover:false,
});
        id_reportname.value = '';
        return false;
    }else{
        return true;
    }
    }
</script>
{% with messages = get_flashed_messages() %}
{% if messages %}
<script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
         iziToast.show({
      message: messages[i],
                progressBar: false,
                color: 'red',
                position: 'center',
                pauseOnHover:false,
});
}
</script>
{% endif %}
{% endwith %}
<script>
    $(document).ready(function(){
        $('#form_gen').submit(function(e){
        e.preventDefault();
        $.ajax({
            url: '',
            type: 'post',
            data:$('#form_gen').serialize(),
            success:function(){
            }
        });
    });
    });
</script>
<script>
    $(document).ready(function() {
        $('#gen').click(function () {
            var name = document.getElementById('id_reportname').value;
    if(name==='') {

        document.getElementById('id_reportname').value='';
        return false;
    }
//             iziToast.show({
//     title: 'Kindly be patient',
//     message: 'Your Report will be successfully generated in 15 seconds',
//                 progressBar: true,
//                 timeout:15000,
//                 color: 'orange',
//                 theme: 'light',
//                 // maxWidth:500,
//                 close: false,
//                 position: 'center',
//                 pauseOnHover:false,
//                 onClosed: function(){
//             document.getElementById("download").style.visibility = 'visible';
//     }
// });
            let timerInterval
             var duration = 15000;
         var percent = duration / 100; // 1 percent of duration
                 var i = 0 ;
    Swal.fire({
    title: 'Kindly be patient',
    html: '<b></b> completed.',
    timer: duration,
    timerProgressBar: true,
    allowOutsideClick: false,
    didOpen: () => {
    Swal.showLoading()
    const b = Swal.getHtmlContainer().querySelector('b')
    timerInterval = setInterval(() => {
    i++;
    b.textContent = i+"%";
    }, percent)
    },
    willClose: () => {
    if(i>=100) {
        clearInterval(timerInterval)
    }
  }
}).then((result) => {
  /* Read more about handling dismissals below */
  if (result.dismiss === Swal.DismissReason.timer) {
    console.log('I was closed by the timer')
  }
})
    document.getElementById("download").style.visibility = 'visible';
    document.getElementById("preview").style.visibility = 'visible';
        document.getElementById("exit").style.visibility = 'visible';
        document.getElementById("gen").style.visibility = 'hidden';
        document.getElementById("back").style.visibility = 'hidden';
});
})
</script>
<script>
$(document).ready(function() {
    document.getElementById("step4").className = "tablinks active"
    });
</script>
<script>
$(document).ready(function(){
  $('[data-toggle="popover"]').popover();
});
</script>

{% endblock %}
