{% extends 'report.html' %}
{% block select %}

<link rel="stylesheet" href="/static/css/main.css">
<div id="Tmp" class="tabcontent">
    <form action="/select_template" method="POST" id=""><br>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label><b>Select Product </b> </label><br>
                    <select name="product_select" id="product_select" class="form-control product_select" style="width: 120%" required>
                        <option></option>
                        <option>All</option>
                        <option> Panorama  </option>
                        <option> Firewall  </option>
                        <option> Prisma SD-WAN </option>
                        <option> AWS VM-Series </option>
                        <option> Azure VM-Series  </option>
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label> <b>Select Template </b></label><br>
                    <select name="template_select" required id="template_select" class="form-control template_select" style="width: 120%">
                        <option></option>
                        {% for file in files %}
                        <option value="{{file}}">{{ file }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p>
                    <button type="submit" class="btn btn-success" value="Submit">Next</button>
                </p>
            </div>
        </div>
    </form>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function() {
        $('.template_select').select2({
    placeholder: "Please select a template",
    allowClear: true,
        width:'resolve',
});
});
$(document).ready(function() {
        $('.product_select').select2({
    placeholder: "Please select a product",
    allowClear: true,
        width:'resolve',
});
});
</script>
<script>
$(document).ready(function() {
    document.getElementById("step1").className = "tablinks active"
    });
</script>
{% endblock %}
