{% extends 'main.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<div class="content-wrapper" id="content-wrapper" style="min-height: 169px;">
    <section class="content">
        <div id="main-content">
            <div class="row settings-container">
                <div class="col-md-9" id="settings-tab-container">
                    <div class="nav nav-pills">
                        <div class="nav-tabs-custom">
                            <div class="nav nav-pills">
                                <div class="tab-content">
                                    <div class="tab-pane active in">
                                        <h2 style="font-family: &quot;Tahoma&quot;;letter-spacing: 0.1px;font-size: 24px;font-weight: 600;">Security Settings </h2>
                                        <div class="row">
                                            <div class="container">
                                                <label  style="font-size:18px;"><b>Logs </b></label>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="container">
                                                <a href="/logs"  title="Download Logs" class="btn btn-success" style=" background-color: #f2ae31; border-color:#f2ae31;">
                                                    <i class="fa fa-download"  style="font-size:18px;"></i>
                                                    Download
                                                </a>
                                                <a href="/stream" target="_blank" title="View the logs file" class="btn btn-success" style=" background-color: gray;">
                                                    <i class="fa fa-eye"  style="font-size:18px;" ></i>
                                                    View
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="container">
                                                <label class="" style="font-size:18px;"><b>SSL Certificate </b></label>

                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="container">
                                                <a href="" title="Download SSL certificate" class="btn btn-success" style=" background-color: #f2ae31; border-color:#f2ae31;">
                                                    <i class="fa fa-download"  style="font-size:18px;"></i>
                                                    Download
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function() {
    document.getElementById("lhs-settings").className = "active lhs-item"
    });
</script>
{% endblock %}