{% extends 'report.html' %}
{% block select %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<div id="Tsf" class="tabcontent" style="display:block;">
  	<h2 style="font-family: &quot;Tahoma&quot;;letter-spacing: 0.1px;font-size: 18px;">Upload the TSF file(s) </h2>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% if message1 %}
        <dl>
            <p>
                {{message1}}
            </p>
        </dl>
        <p>If you want to reset then please click on back button.</p>
        {% else %}
        <dl>
            <div id="my-dropzone" class="dropzone dz-clickable" style="border: 1px solid rgba(0, 0, 0, 0.3);">
                <div class="fallback">
                    <button class="dz-button" type="button" style="font-family: &quot;Tahoma&quot;;letter-spacing: 0.1px;font-size:18px;">Drop files here to upload</button>                </div>
            </div>
        </dl>
        <br>
        <p>
            <a href="/select_template" class="btn btn-light">Back</a>
            <button  title= "Reset will not work after Upload" type="reset" id="reset" class="btn btn-danger reset-dz" style="font-size:18px;"  value="Clear" onclick="return fileclear()">Reset</button>
            <button type="submit" id="button" class="btn btn-primary" style="font-size:18px;">Upload</button>
                <a href="/cust_info" class="btn btn-success isDisabled" id="next">
                    Next
                </a>
        </p>
        {% endif %}
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    Dropzone.autoDiscover = false;
    if (document.getElementById('my-dropzone')) {
      var myDropzone = new Dropzone("div#my-dropzone", {
      url: "/tsf_info",
      paramName: 'file',
      chunking: true,
      forceChunking: true,
      autoProcessQueue: false,
      chunkSize: 10000000, // bytes
      acceptedFiles:'.tgz',
      success(file) {
    iziToast.show({
                message: 'Your file is successfully uploaded',
                progressBar: false,
                color: 'rgb(0, 205, 51)',
                position: 'topCenter',
                pauseOnHover:false,
});
      var element = document.getElementById("next");
      element.classList.remove("isDisabled");
  },


  });
}

$('.reset-dz').on('click', function(e){
    var myDropzone = Dropzone.forElement("div#my-dropzone");
    myDropzone.removeAllFiles(true);
});

$("#button").click(function (e) {
    e.preventDefault();
    var myDropzone = Dropzone.forElement("div#my-dropzone");
    myDropzone.processQueue();
          var element = document.getElementById("reset");
      element.classList.add("isDisabled");
});
</script>
<script>
    function fileValidation() {
            var fileInput =
                document.getElementById('id_conf_temp');

            var filePath = fileInput.value;

            var allowedExtensions =
                    /(\.tgz)$/i;

            if (!allowedExtensions.exec(filePath)) {
                // Swal.fire('Invalid file type','Only .tgz file supported.','error');
                iziToast.show({
    title: 'Invalid file type',
                    message:'Only .tgz file supported.',
                progressBar: false,
                color: 'red',
                position: 'center',
                pauseOnHover:false,
});
                fileInput.value = '';
                return false;
            };
        };

</script>
<script>
$(document).ready(function() {
    document.getElementById("step2").className = "tablinks active"
    });
</script>
{% endblock %}
